.flair {
}

.schizo {
  background-color: rgb(97, 10, 25);
  color: rgb(255, 255, 255);
}
.memes {
  background-color: rgb(70, 209, 96);
  color: rgb(0, 0, 0);
}
.drama {
  background-color: rgb(113, 147, 255);
  color: rgb(0, 0, 0);
}
.discussion {
  background-color: rgb(255, 214, 53);
  color: rgb(0, 0, 0);
}
