@tailwind base;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none;
}
html,
body {
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(13, 12, 12, 1) 0%,
    rgba(25, 25, 25, 0.9) 50%,
    rgba(13, 12, 12, 1) 100%
  );
}
body {
  font-size: 62.5%;
  letter-spacing: 0.1rem;
}
@media (max-width: 999px) {
  html {
    overflow: visible;
  }
}
@media (max-width: 999px) {
  body {
    overflow: visible;
    font-size: 62.5%;
  }
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}
a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #adf500;
}
.active {
  text-decoration: underline;
  text-underline-position: under;
}
.container {
  background-image: url("../public/cartographer.png"); /* fallback */
  background-repeat: repeat;
  background-position: fixed;
}
@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-flow: column;
    height: 100vh;
  }
}
@media (max-width: 999px) {
  .container {
    display: flex;
    flex-flow: column;
    height: 100vh;
  }
}
main {
  flex: 2;
  overflow: auto;
  background: linear-gradient(
    180deg,
    rgba(13, 12, 12, 0.2) 0%,
    rgba(25, 25, 25, 0.2) 50%,
    rgba(13, 12, 12, 0.2) 100%
  );
}
main {
  padding: 20px;
}
main img {
  display: block;
}
main h1,
main h2,
main h3,
main h4,
main h5 {
  margin: 0;
}
main p {
  margin: 0;
}
main a {
  color: #fff;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #222;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
:root {
  --swiper-navigation-color: #adf500;
  --swiper-navigation-sides-offset: 16%;
}
/* SWIPER */
.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}